{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'history.css' %}">
{% endblock head %}
{% block content %}
<div class="request">
    <h1 class="head">LEAVE HISTORY</h1>
    <table>
        <tr>
            <th>SL. NO</th>
            <th>EMPLOYEE ID</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>DURATION</th>
            <th>TYPE</th>
            <th>STATUS</th>
        </tr>
        {% for leave in leaves %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{leave.Employee_name.Employee_id}}</td>
            <td>{{leave.Start_date}}</td>
            <td>{{leave.End_date}}</td>
            <td>{{leave.No_of_Days}}</td>
            <td>{{leave.Type}}</td>
            <td>{{leave.Pending_Status}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %} 
